<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moneybug.bug.users.mapper.AccountMapper">

    <insert id="insert" parameterType="Account">
        INSERT INTO tb_member (name, password, roles) VALUES (#{name}, #{password}, #{roles})
    </insert>



</mapper>
