<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login</title>
</head>
<body>
<h2>로그인</h2>
<form th:action="@{/loginProc}" method="post">
    <div>
        <label>
            <input type="text" name="username" id="username" placeholder=" ID를 입력하세요."/>
        </label>
    </div>
    <div>
        <label>
            <input type="password" name="password" id="password" placeholder="Password를 입력하세요."/>
        </label>
    </div>
    <div>
        <label for="remember-me">자동 로그인</label>
        <input type="checkbox" id="remember-me" name="remember-me"/>
    </div>

    <button type="submit">로그인</button>
    <button type="button" th:onclick="|location.href='@{/join}'|">회원가입</button>
    <div th:if="${errorMessage}" class="error">
        <p th:text="${errorMessage}"></p>
    </div>
</form>
<div>
    <a href="/oauth2/authorization/kakao">kakao login</a>
    <a href="/oauth2/authorization/naver">naver login</a>
    <a href="/oauth2/authorization/google">google login</a>
</div>
</body>
</html>
