<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login</title>
</head>
<body>
<form th:action="@{/login}" method="post">

    <h2>로그인</h2>
    <div>
        <label>
            <input type="text" name="username" placeholder="ID를 입력하세요."/>
        </label>
    </div>
    <div>
        <label>
            <input type="password" name="password" placeholder="Password"/>
        </label>
    </div>

    <button type="submit">로그인</button>
    <button type="button" th:onclick="|location.href='@{/signup}'|">회원가입</button>
</form>
</body>
</html>
